body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  color: #66BFBF;
  line-height: 2;
}
h2{
  font-family:'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
}
h3{
font-family:'Montserrat', sans-serif;
color: #11999E;
}
a{
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
p{
  line-height: 2;
}
span{
  text-decoration: underline;
}
hr{
  border: 6px dotted;
  border-style: none none dotted;
  color: grey;
  size: 60px;
  width: 4%;
}
.top-container{
  background-color: #E7F6F2;
  position: relative;
  padding-top: 100px;
}
.middle-container{
padding: 100px;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
.profile-img{
  border-radius: 50%;
}
.computer-img{
  border-radius: 50%;
  float: left;
  margin-right: 30px;
  width: 25%;
}
.chillies-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.introduction{
  width: 30%;
  margin: auto;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px auto;
}
.btn-outline{
  text-decoration: none;
  font-size: 1em;
  color:  #66BFBF;
  padding: 10px 30px;
  border: 2px solid  #66BFBF;
  position: relative;
  transition: .5s;
}
.btn-outline::before,
.btn-outline::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border: inherit;
  transition: .5s;
}
.btn-outline::before {
  top: -10px;
  left: -10px;
  border-width: 2px 0 0 2px;
}
.btn-outline::after {
  bottom: -10px;
  right: -10px;
  border-width: 0 2px 2px 0;
}
.btn-outline:hover::before,
.btn-outline:hover::after {
  width: calc(100% + 18px);
  height: calc(100% + 18px);
}
.bottom-cloud{
  position: absolute;
  left: 200px;
  bottom: 300px;
}
.top-cloud{
  position: absolute;
  right: 40px;
  top: 50px;
}
.Copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
